
.perguntaUm {
  margin: 0;
  padding: 0;
  background-image: url(../img/poluicao.jpg);
  background-size: cover;
  background-position: center;
  font-family: "Arial", sans-serif;
  color: #333;
}

.perguntaDois {
  margin: 0;
  padding: 0;
  background-image: url(../img/co2.jpg);
  background-size: cover;
  background-position: center;
  font-family: "Arial", sans-serif;
  color: #333;
}

.perguntaTres {
  margin: 0;
  padding: 0;
  background-image: url(../img/verde.jpg);
  background-size: cover;
  background-position: center;
  font-family: "Arial", sans-serif;
  color: #333;
}

.perguntaQuatro {
  margin: 0;
  padding: 0;
  background-image: url(../img/camada.jpg);
  background-size: cover;
  background-position: center;
  font-family: "Arial", sans-serif;
  color: #333;
}

.perguntaCinco {
  margin: 0;
  padding: 0;
  background-image: url(../img/agua.jpg);
  background-size: cover;
  background-position: center;
  font-family: "Arial", sans-serif;
  color: #333;
}

.question-container { 
  background-color: rgba(255, 255, 255, 0.9);
  width: 60%;
  margin: 5% auto;
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
}

h1 {
  color: #28a745;
  font-size: 2.5em;
  margin-bottom: 20px;
}

h3 {
  font-size: 1.8em;
  margin-bottom: 30px;
}

ul {
  list-style: none;
  padding: 0;
  font-size: 1.5em;
}

ul li {
  background-color: transparent; /* Fundo transparente */
  border: 2px solid #218838; /* Borda amarela */
  color: #333;
  font-weight: bolder;
  margin-bottom: 10px;
  padding: 15px;
  border-radius: 10px;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

ul li:hover {
  background-color: #218838;
}

.modal {
  display: none;
  position: fixed;
  z-index: 9999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

.modal-content {
  background-color: white;
  margin: 15% auto;
  padding: 20px;
  border-radius: 10px;
  width: 300px;
  text-align: center;
}

#close-modal {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#next-question {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
